

<!--header partial -->
    <%- include ('partials/header.ejs') %>

<!--banner partial -->
    <%- include ('partials/banner.ejs') %>

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a>
                            <h2 class="post-title">What's this website about?</h2>
                        </a>
                        <p>
                            This website conducts a simple CRUD operation, in this case, its with airplanes.
                            The database contains the name of airplane, its type, manufacturer and cost.
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    
                </div>
            </div>
        </div>
        
<!--footer partial -->
        <%- include ('partials/footer.ejs') %>